body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#file-input {
    display: none; /* Cacher l'élément de saisie de fichier */
}

#add-book-btn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#book-cover {
    margin: 20px auto;
    max-width: 300px; /* Taille maximale pour l'image de la couverture */
    height: auto;
    text-align: center;
}

#book-cover img {
    width: 100%;
    height: auto;
    display: block;
}

#book-viewer {
    margin: 20px auto;
    max-width: 800px; /* Taille maximale pour le visualiseur de livre */
    height: auto;
    overflow: auto;
}
